html,
body {
  height: 100%;
}

#canvas {
  background: red;
  position: absolute;
  height: 70px;
  width: 70px;
  top: 30%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
}

#pointer {
  position: absolute;
  background: white;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  margin-top: -30px;
  margin-left: -30px;
  top:30%;
  left: 50%;
  border: solid black 1px;
}

#pointer2 {
    position: absolute;
    background: white;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    margin-top: -30px;
    margin-left: -40px;
    top:30%;
    left: 50%;
    border: solid yellow 1px;
  }

  .simulated-line{
    position: absolute;
    width: 161px;
    height: 2px;
    background: #87FF2A    ;
    top: 25.5%;
    left: 45%;
    transform-origin: 0% 50%;
    transform: rotate(25deg);
  }
  .angle
  {
    position: absolute;

    top: 10%;
    left: 43%;
  }
  .R
  {
    position: absolute;
    top: 25%;
    left: 40%;
  }
  .L
  {
    position: absolute;
    top: 25%;
    left: 58%;
  }
  #myCanvas
  {
    position: absolute;
    top: 45%;
    left: 43%;
    border:2px solid #87FF2A;
  }
  img {
   
    position: absolute;
    top: 58%;
    left: 43%;    
    
  }
  .lpsl
  {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
    margin-left: 16px;
    padding-left: 16px;
  }
  .lpsa
  {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
    margin-left: 16px;
    padding-left: 16px;
    color: yellow;
  }

  .as-console-wrapper { max-height: 2.8em !important; }
