
<br>
<div style="width: 180px;  margin-top: 105px; float:left; height:50px; "> 
  <p style="  font-family: Arial">Most Proximal Device</p> 
</div>

<div style="width: 10px; float:left;margin-top: 50px; height:50px;"> Enable</div>

<div class="allDiv" id="slideSource" >
  
  <div style="width:150px; float:left;margin-top: 50px; height:50px; "> 
    <br>
    <br>
    <input checked="checked"(click)="flip()" (change)="EnableCanvas($event)" value="angular" type="checkbox"/>
    <p style=" margin-top: 70px"> InsertOrder</p>
    <input  [disabled]="isDisabled" type="number" value="1" style="width :25%"  />
  </div>
  
  <div style="width: 340px; float:left; height:90px; ">
    <form  id ="sliderSimple" >
      <div style=" margin-left: 120px">
        <input [disabled]="isDisabled" type="range" step="0.1" name="amountRange" min="0" max="100" value="{{rectWidth}}" oninput="this.form.amountInput.value=this.value , this.form.amountInput2.value=this.value,this.form.amountRange2.value=this.value" id ="rwidth" />
        <input [disabled]="isDisabled" type="number" step="0.1"(keyup)="widthVerify($event)" value="{{rectWidth}}" name="amountInput" min="0" max="100" value="0" oninput="this.form.amountRange.value=this.value,this.form.amountInput2.value=this.value, this.form.amountRange2.value=this.value" id ="rwidth2" />
      </div>

      <canvas [disabled]="isDisabled" id="simpleCanvas" style=" margin-left: 75px" style=" margin-top: 20px"  width=231 height=500></canvas>
    
      <div  style="left : 460px ;top : 280px; position : absolute  ">
        <input [disabled]="isDisabled" type="range" step="0.1" name="amountRange2" min="0" max="100" value="0" value="{{rectWidth}}" oninput="this.form.amountInput2.value=this.value, this.form.amountInput.value=this.value,this.form.amountRange.value=this.value" id ="rwidth3" />
        <input [disabled]="isDisabled" type="number" step="0.1" (keyup)="widthVerify($event)" name="amountInput2" value="{{rectWidth}}" min="0" max="100" value="0" oninput="this.form.amountRange2.value=this.value, this.form.amountInput.value=this.value,this.form.amountRange.value=this.value" id ="rwidth4" />
      </div>
    </form>

    <form id ="sliderComplex" >
      <div style=" margin-left: 120px">
        <input [disabled]="isDisabled" type="range"  name="amountRangeComplex" min="0" max="100" value="{{rectWidth}}" oninput="this.form.amountInputComplex.value=this.value " id ="rwidthCom" />
        <input [disabled]="isDisabled" type="number"   (keyup)="widthVerifyComplex($event)" value="{{rectWidth}}" name="amountInputComplex" min="0" max="100" value="0" oninput="this.form.amountRangeComplex.value=this.value" id ="rwidth2Com" />
      </div>
      <canvas [disabled]="isDisabled" id="complexCanvas" style=" margin-left: 120px; margin-top: 20px; position : absolute" width={{rectWidth_intitial}} height={{rectLength_intitial}} style="border:1px solid rgb(253, 253, 253);"></canvas>
      <div [disabled]="isDisabled" id="roomAnchors" style=" margin-left: 120px; margin-top: 20px; position : absolute"></div>
      
      <div  style="left : 460px ;top : 280px; position : absolute  ">
        <input [disabled]="isDisabled" type="range"  name="amountRangeComplex2" min="0" max="100" value="0" value="{{rectWidth}}" oninput="this.form.amountInputComplex2.value=this.value" id ="rwidth3Com" />
        <input [disabled]="isDisabled" type="number"   value="{{rectWidth}}" name="amountInputComplex2" min="0" max="100" value="0" oninput="this.form.amountRangeComplex2.value=this.value" id ="rwidth4Com" />
      </div>
    </form>

  </div >
  

  <div style="width: 100px; float:left; height:50px; margin-top: 38px; margin-left: 200px; ">
    <p>Length</p>
    <input [disabled]="isDisabled" id ="lengthSimple" style=" margin-bottom: 38px;width :60%"  type="number" value="100" (change)="lengthChange($event)" />
    <input [disabled]="isDisabled" id ="lengthComplex" style=" margin-bottom: 38px;width :60%"  type="number" value="100" (change)="lengthChangeComplex($event)" />

    <div >
      <input [disabled]="isDisabled" type="radio" name="cases" value="Simple" checked="true" (change)="radioChangeHandler($event)">
      <i>Simple</i>
      <br> <br>
      <input [disabled]="isDisabled" type="radio" name="cases" value="Complex" (change)="radioChangeHandler($event)">
      <i>Complex</i>
    </div>
  </div>

</div>


