<h3 class="angle">Graft Rotation {{angle}} </h3>
<h3 class="R">R </h3>
<h3 class="L">L </h3>
<h3 class="P">P </h3>

<canvas id="canvas4" width="150" height="150"></canvas>


<canvas id="myCanvas" width="160" height="49" ></canvas>


<img src="assets/VG_image.png"  usemap="#VGmaps">

<map name="VGmaps">
  <area shape="rect" coords="40,20,90,85" alt="first" id="first" (click)="first()">
  <area shape="rect" coords="40,80,90,160" alt="middle" id="middle" (click)="middle()">
  <area shape="rect" coords="20,80,100,270" alt="last" id="last" (click)="last()">
</map>


